<!DOCTYPE html>
{% extends 'genre/base.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Genre</title>
</head>
<body>
{% block content %}
   {% for genreobj in object_list  %}
     <div align="center">
          <img src="{{ genreobj.Collcover }}" height="200" width="200">
          <h2><a href="/genre/{{ genreobj.id }}">{{genreobj.Collection_name }}</a></h2>
          <h3>{{ genreobj.description }}</h3>
           <br/>
     </div>
   {% endfor %}
{% endblock %}
</body>
</html>